

/*  Header  */

header{
  background-color: $color-primary;
  width: 100vw;
  height: 100vh;
  font-family: $font-stack;
  position: relative;
  overflow: hidden;
}
.h__content {
  display: flex;
  flex-direction: column;
  color:#47c0c2;
  position: absolute;
  top: 10vh;
  left:5vw;

  h1 {
    font-size: 2.8rem;
    margin: 0;
    font-weight: 600;
  }
  h3{
    font-size: 1rem;
    font-weight: 400;
    margin: .6rem 0 0;
  }
}
.h__skill {
  margin-bottom: 0;
}
.h__opening {
  width: 70vw;
  margin-top: 0;

  p {
    margin-top: 0;
  }
}

/*  AGENCY SECTION  */

.agency {
  position: relative;
  height: 105vh;
  display: grid;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: 100%;
  grid-template-rows: 20vw 70vw 15vw;
  grid-template-areas:
"name"
"image"
"button";
}
.a__name{
  position: absolute;
  grid-area: name;
  margin: 0;
top: 10vh;
  left: 5vw;
  font-family: $font-stack;
}
.a__name-text{

  h2{
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
  }
  h4{
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
  }
}

.a__image {
  grid-area: image;
  width: 100%;
  height: 70vh;
  top: 7vh;
  position: relative;


  img {
    position: absolute;
    object-fit: cover;
  }
}
.a__name-text{

}
.a__button{
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  a{
    padding: .8rem 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 10vh;
    text-align: center;
    font-weight: 600;
    font-family: $font-stack;
    font-size: 1rem;
  }
}

#monica {
  background-color: $color-mo;
  .a__name{
    color: white;
  }

  .a__image {

    img {
      left: -25vw;
      width: 180%;
      object-position: 50% 50%;
    }
  }
  .a__button{
    grid-area: button;

    a{
      border: 2px solid white;
      color: white;
      background-color: $color-mo;
    }
  }
}


#tp {
  background-color: white;

  .a__name{
    color: $color-tp;
  }

  .a__image {
    top: 10vh;

    img {
      left: -40vw;
      width: 170%;
      object-position: 50% 50%;
    }
  }
  .a__button{


    a{
      border: 2px solid $color-tp;
      color: $color-tp;
      background-color: white;
    }
  }
}


#gmac {
  background-color: $color-gmac;

  .a__name{
    color: white;
  }

  .a__image {
    top: 5vh;
    width: 100%;

    img {
      left: -15vw;
      width: 180%;
      object-position: 50% 50%;
    }
  }
  .a__button{


    a{
      background-color: $color-gmac;
      border: 2px solid white;
      color: white;
    }
  }
}


#aspen {
  background-color: white;

  .a__name{
    color: $color-aspen;
  }

  .a__image {
    top: 10vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
   justify-content: center;

    img {
  top: 1rem;
      width: 80%;
      object-position: 50% 50%;
      box-shadow: 2px 2px 7px 3px #777;
    }
  }
  .a__button{


    a{
      border: 2px solid $color-aspen;
      color: $color-aspen;
      background-color: white;
    }
  }
}


#iss {
  background-color: $color-iss;

  .a__name{
    color: white;
  }

  .a__image {
    top: 25vh;
    width: 100%;
    margin: 0 auto;

    img {
      left: -20vw;
      width: 160%;
      object-position: 50% 50%;
    }
  }
  .a__button{

    a{
      border: 2px solid white;
      color: white;
      background-color: $color-iss;
    }
  }
}

/* PORTFOLIO PAGES*/

.panel {
  height: 100vh;
  width:100%;
  font-family: $font-stack;
}

.horizontal {
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  position: fixed;
  height:100vh;
  font-family: $font-stack;
}

.scroll {
  overflow-x: hidden;
}

.fixed_port {
  padding: .2rem ;
  position: absolute;
  top: 1rem;
  left: 5vw;
  font-size: 1rem;
  z-index: 10;

  h1{
    line-height: 1.1;
    opacity: 1;
    margin: 0;

  }

  a{
    text-decoration: none;
    font-size: 1rem;
  }
}

.portfolio{
  display: grid;
  overflow: hidden;
  grid-template-columns: 100vw;
  grid-template-rows: 22vh 63vh 10vh;
  grid-template-areas:
      "name"
      "image"
      "text";
}
.p__name{
  grid-area: name;
  position: absolute;
  top: 8vh;
  left: 5vw;
  z-index: 1;
  color: $color-primary;

  h4{
    color: $color-primary;
    font-size: 1.3rem;
    font-weight: 400;
  }
}
.p__image{
  grid-area: image;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:visible;
  z-index: 0;

  img {

  }

}
.p__text{
  position: absolute;
  bottom:8vh;
  left: 5vw;
  z-index: 1;
  grid-area: text;
  font-size: 1rem;
  color: $color-primary;
}

#p_tp{
  .fixed_port {
    color: $color-tp;
    h1{
      color: $color-tp;
    }

    a{
      color: $color-tp;
    }
  }
  .p__image{
    top: 15vh;

    img {
      width: 70%;
    }
  }
}
#p_gmac{
  .fixed_port {
    color: $color-gmac;
    h1{
      color: $color-gmac;
    }

    a{
      color: $color-gmac;
    }
  }
  .p__image{
    display: flex;
    justify-content: center;
    top: 20vh;

    img {
      position: absolute;
      width: 80%;
      top: 1vh;
      box-shadow: 2px 2px 5px 2px #666;
    }
  }
}
#p_aspen{
  .fixed_port {
    color: $color-aspen;
    h1{
      color: $color-aspen;
    }

    a{
      color: $color-aspen;
    }
  }
  .p__image{
    display: flex;
    justify-content: center;
    top: 15vh;

    img {
      position: absolute;
      width: 80%;
      top: 1vh;
      box-shadow: 2px 2px 5px 2px #666;

    }
  }
}
#p_iss{
  .fixed_port {
    color: $color-iss;
    h1{
      color: $color-iss;
    }

    a{
      color: $color-iss;
    }
  }
  .p__image{
    display: flex;
    justify-content: center;
    top: 20vh;

    img {
      position: absolute;
      width: 80%;
      top: 1vh;
      box-shadow: 2px 2px 5px 2px #666;
    }

  }
  .p__image-no {
    grid-area: image;
    position: absolute;
    top: 25vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    margin: 0;

    img{

    }

   .bezel-t{
     position: absolute;
     top: 0;
     left: -15vw;
     width: 150%;


   }
    .bezel-r{
      position: absolute;
      top: 40vh;
      left: -30vw;
      width: 160%;
    }
  }
}


/*  END OF SMART PHONE  */

@media screen and (min-width : 700px) {


  #monica {
    .a__image {

      img {
        left: 0;
        width: 130%;

      }
    }
  }


  #tp {

    .a__image {
      top: 5vh;

      img {
        left: -20vw;
        width: 130%;
      }
    }
  }


  #gmac {
    background-color: $color-gmac;

    .a__name{
      color: white;
    }

    .a__image {
      top: 0;

      img {
        left: 0;
        width: 140%;
      }
    }
  }


  #aspen {
    background-color: white;

    .a__name{
      color: $color-aspen;
    }

    .a__image {
      top: 5vh;

      img {
        width: 70%;
      }
    }
  }


  #iss {

    .a__image {
      top: 10vh;
    }
  }

  /*  Portfolio pages  */

  .fixed_port {
    top: 2vh;
    left: 5vw;
    font-size: 1.5rem;

    h1{

    }

    a{
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
  }

  .p__image{
    top: unset;
  }

  .p__name{
    top: 10vh;
    left: 5vw;
    h4{
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
  .p__text{
    bottom:8vh;
    font-size: 1.5rem;
  }
  #p_tp{

    .p__image{
      width: 140%;

      img {
        top: 20vh;
      }
    }
  }

  #p_aspen{
    .p__image{
      width: 80%;

      img {
        top: 15vh;
        left:15vw;
        box-shadow: 5px 5px 10px 5px #999;
       }
    }
  }
  #p_gmac{

    .p__image{

      img {
        top: 0;
      }
    }
  }
  #p_iss{
    .p__image{

      img {
        top: 0;
        box-shadow: 5px 5px 8px 5px #999;
      }

    }
    .p__image-no {
      top: 20vh;
    }
  }




  /* END MIN 700px*/
}

@media screen and (min-width : 920px) {
  .h__opening {
    width: 40vw;
  }
  #monica {
    .a__image {
      top: 0;

      img {
        left: 10vw;
        width: 110%;

      }
    }
  }


  #tp {

    .a__image {
      top: 0;

      img {
        left: -10vw;
        width: 110%;
      }
    }
  }


  #gmac {
    background-color: $color-gmac;

    .a__name{
      color: white;
    }

    .a__image {
      top: -5vh;

      img {
        left: 0;
        width: 140%;
      }
    }
  }


  #aspen {
    background-color: white;

    .a__name{
      color: $color-aspen;
    }

    .a__image {
      top: 0;

      img {
        width: 50%;
      }
    }
  }


  #iss {

    .a__image {
      top: 10vh;
    }
  }


  /*  Portfolio pages  */

  .fixed_port {
    top: 7vh;
    left: 5vw;
    font-size: 1.5rem;

    h1{

    }

    a{
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
  }

  .p__image{
    top: unset;
  }

  .p__name{
    top: 15vh;
    left: 5vw;
    h4{
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
  .p__text{
    bottom:8vh;
    font-size: 1.5rem;
  }
  #p_tp{

    .p__image{
      width: 130%;
      left: 10vw;

      img {
        top: 20vh;
        left: 40vw;
      }
    }
    .p__text{
      bottom:4vh;
      font-size: 1.5rem;
    }
  }

  #p_aspen{
    .p__image{
      width: 80%;

      img {
        top: 5vh;
        left:15vw;
        box-shadow: 5px 5px 10px 5px #999;
      }
    }
  }
  #p_gmac{

    .p__image{

      img {
        top: 0;
      }
    }
  }
  #p_iss{
    .p__image {
      display: flex;
      justify-content: center;
      top: 25vh;
      left: 10vw;
      width: 80%;
      height: 100%;


      img {
      }
    }

    .p__image-no {

      top: 10vh;
      width: 100%;
      height: 100%;


      img{
      }

      .bezel-t{
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;


      }
      .bezel-r{
        position: absolute;
        top: 50vh;
        left: -10vw;
        width: 120%;
      }
    }
  }


  /* END MIN 920px*/
}


@media screen and (min-width : 1025px) {

  .agency {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
"name image"
"button image";
  }

  .a__name{
    top: unset;
    align-self: end;
    z-index: 2;
  }
  .a__name-text{

    h2{
      font-size: 2rem;
    }
    h4{
      font-size: 1.4rem;
    }
  }

  .a__image {
    height: 100vh;
    top: unset;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .a__button{
    justify-content: left;
    align-items: start;
    margin: 5vh 0 0 5vw;

    a{
      bottom: unset;
      text-align: left;
    }
  }

  #monica {
    background-color: $color-mo;
    .a__name{
      color: white;
    }

    .a__image {


      img {
        left: -10vw;
        width: 150%;
        object-position: 50% 50%;
      }
    }
    .a__button{
      grid-area: button;

      a{
        border: 2px solid white;
        color: white;
        background-color: $color-mo;
      }
    }
  }


  #tp {
    background-color: white;

    .a__name{
      color: $color-tp;
    }

    .a__image {
      top: 3vh;

      img {
        left: unset;
        width: 130%;
        object-position: 50% 50%;

      }
    }
    .a__button{


      a{
        border: 2px solid $color-tp;
        color: $color-tp;
        background-color: white;
      }
    }
  }


  #gmac {
    background-color: $color-gmac;

    .a__name{
      color: white;
    }

    .a__image {
      top: unset;
      width: 100%;

      img {
        left: 0vw;
        width: 130%;
        object-position: 50% 50%;
      }
    }
    .a__button{


      a{
        background-color: $color-gmac;
        border: 2px solid white;
        color: white;
      }
    }
  }


  #aspen {
    background-color: white;

    .a__name{
      color: $color-aspen;
    }

    .a__image {
      top: unset;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-content: center;
      justify-content: center;

      img {
        top: 3rem;
        width: 80%;
        object-position: 50% 50%;
        box-shadow: 2px 2px 7px 3px #777;
      }
    }
    .a__button{


      a{
        border: 2px solid $color-aspen;
        color: $color-aspen;
        background-color: white;
      }
    }
  }


  #iss {
    background-color: $color-iss;

    .a__name{
      color: white;
    }

    .a__image {
      top: unset;
      width: 100%;
      margin: 0 auto;

      img {
        left: -20vw;
        width: 160%;
        object-position: 50% 50%;
      }
    }
    .a__button{

      a{
        border: 2px solid white;
        color: white;
        background-color: $color-iss;
      }
    }
  }



  /*  Portfolio  */
  .portfolio{
    display: grid;
    overflow: hidden;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 50vh 50vh;
    grid-template-areas:
      "name image"
      "text image";
  }


  .fixed_port {
    top: 3rem;
    font-size: 1.5rem;

    a{
      text-decoration: none;
      font-size: 1.2rem;
    }
  }

  .p__name{
    grid-area: name;
    position: absolute;
    top: 12vh;
    left: 5vw;
    z-index: 1;
    color: $color-primary;

    h4{
      color: $color-primary;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
  .p__image{
    grid-area: image;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:visible;
    z-index: 0;

  }


  #p_tp{
    .fixed_port {
      color: $color-tp;
      h1{
        color: $color-tp;
      }

      a{
        color: $color-tp;
      }
    }
    .p__image{
      top: 15vh;

      img {
        width: 60%;
      }
    }
  }
  #p_gmac{

    .p__image{

      img {
        width: 65%; }
    }
  }
  #p_aspen{
      .p__image{
      top: 15vh;

      img {
        position: absolute;
        width: 65%;
      }
    }
  }
  #p_iss{
    .p__image{
      }
    .p__image-no {
      img{
      }
      .bezel-t{
        top: 7vh;
        left: 0;
        width: 100%;
      }
      .bezel-r{
        top: 50vh;
        left: -100;
        width: 110%;
      }
    }
  }





  /* END MIN 1020px*/
}
