

/*  Header  */

header{
  background-color: #1c5253;
  width: 100vw;
  height: 100vh;
  font-family: $font-stack;
  position: relative;
  overflow: hidden;
}
.h__content {
  display: flex;
  flex-direction: column;
  color:#47c0c2;
  position: absolute;
  top: 10vh;
  left:5vw;

  h1 {
    font-size: 2.8rem;
    margin: 0;
    font-weight: 600;
  }
  h3{
    font-size: 1rem;
    font-weight: 400;
    margin: .6rem 0 0;
  }
}
.h__skill {
  margin-bottom: 0;
}
.h__opening {
  width: 70vw;
  margin-top: 0;

  p {
    margin-top: 0;
  }
}

/*  AGENCY SECTION  */

.agency {
  position: relative;
  height: 105vh;
  display: grid;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: 100%;
  grid-template-rows: 20vw 70vw 15vw;
  grid-template-areas:
"name"
"image"
"button";
}
.a__name{
  position: absolute;
  grid-area: name;
  margin: 0;
top: 10vh;
  left: 5vw;
  font-family: $font-stack;
}
.a__name-text{

  h2{
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
  }
  h4{
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
  }
}

.a__image {
  grid-area: image;
  width: 100%;
  height: 70vh;
  top: 7vh;
  position: relative;


  img {
    position: absolute;
    object-fit: cover;
  }
}
.a__name-text{

}
.a__button{
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  a{
    padding: .8rem 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 10vh;
    text-align: center;
    font-weight: 600;
    font-family: $font-stack;
    font-size: 1rem;
  }
}

#monica {
  background-color: $color-mo;
  .a__name{
    color: white;
  }

  .a__image {

    img {
      left: -25vw;
      width: 180%;
      object-position: 50% 50%;
    }
  }
  .a__button{
    grid-area: button;

    a{
      border: 2px solid white;
      color: white;
      background-color: $color-mo;
    }
  }
}


#tp {
  background-color: white;

  .a__name{
    color: $color-tp;
  }

  .a__image {
    top: 10vh;

    img {
      left: -40vw;
      width: 170%;
      object-position: 50% 50%;
    }
  }
  .a__button{


    a{
      border: 2px solid $color-tp;
      color: $color-tp;
      background-color: white;
    }
  }
}


#gmac {
  background-color: $color-gmac;

  .a__name{
    color: white;
  }

  .a__image {
    top: 5vh;
    width: 100%;

    img {
      left: -15vw;
      width: 180%;
      object-position: 50% 50%;
    }
  }
  .a__button{


    a{
      background-color: $color-gmac;
      border: 2px solid white;
      color: white;
    }
  }
}


#aspen {
  background-color: white;

  .a__name{
    color: $color-aspen;
  }

  .a__image {
    top: 10vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
   justify-content: center;

    img {
  top: 1rem;
      width: 80%;
      object-position: 50% 50%;
      box-shadow: 2px 2px 7px 3px #777;
    }
  }
  .a__button{


    a{
      border: 2px solid $color-aspen;
      color: $color-aspen;
      background-color: white;
    }
  }
}


#iss {
  background-color: $color-iss;

  .a__name{
    color: white;
  }

  .a__image {
    top: 25vh;
    width: 100%;
    margin: 0 auto;

    img {
      left: -20vw;
      width: 160%;
      object-position: 50% 50%;
    }
  }
  .a__button{

    a{
      border: 2px solid white;
      color: white;
      background-color: $color-iss;
    }
  }
}

/* PORTFOLIO PAGES*/
.fixed_port{
  position: fixed;
  left: 5vw;
  top: 5vh;
}





/*  END OF SMART PHONE  */

@media screen and (min-width : 700px) {


  #monica {
    .a__image {

      img {
        left: 0vw;
        width: 130%;

      }
    }
  }


  #tp {

    .a__image {
      top: 5vh;

      img {
        left: -20vw;
        width: 130%;
      }
    }
  }


  #gmac {
    background-color: $color-gmac;

    .a__name{
      color: white;
    }

    .a__image {
      top: 0;

      img {
        left: 0;
        width: 140%;
      }
    }
  }


  #aspen {
    background-color: white;

    .a__name{
      color: $color-aspen;
    }

    .a__image {
      top: 5vh;

      img {
        width: 70%;
      }
    }
  }


  #iss {

    .a__image {
      top: 10vh;
    }
  }

  /* END MIN 700px*/
}

@media screen and (min-width : 920px) {
  .h__opening {
    width: 40vw;
  }
  #monica {
    .a__image {
      top: 0;

      img {
        left: 10vw;
        width: 110%;

      }
    }
  }


  #tp {

    .a__image {
      top: 0;

      img {
        left: -10vw;
        width: 110%;
      }
    }
  }


  #gmac {
    background-color: $color-gmac;

    .a__name{
      color: white;
    }

    .a__image {
      top: -5vh;

      img {
        left: 0;
        width: 140%;
      }
    }
  }


  #aspen {
    background-color: white;

    .a__name{
      color: $color-aspen;
    }

    .a__image {
      top: 0;

      img {
        width: 50%;
      }
    }
  }


  #iss {

    .a__image {
      top: 10vh;
    }
  }

  /* END MIN 920px*/
}


@media screen and (min-width : 1025px) {

  .agency {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
"name image"
"button image";
  }

  .a__name{
    top: unset;
    align-self: end;
    z-index: 2;
  }
  .a__name-text{

    h2{
      font-size: 2rem;
    }
    h4{
      font-size: 1.4rem;
    }
  }

  .a__image {
    height: 100vh;
    top: unset;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .a__button{
    justify-content: left;
    align-items: start;
    margin: 5vh 0 0 5vw;

    a{
      bottom: unset;
      text-align: left;
    }
  }

  #monica {
    background-color: $color-mo;
    .a__name{
      color: white;
    }

    .a__image {


      img {
        left: -10vw;
        width: 150%;
        object-position: 50% 50%;
      }
    }
    .a__button{
      grid-area: button;

      a{
        border: 2px solid white;
        color: white;
        background-color: $color-mo;
      }
    }
  }


  #tp {
    background-color: white;

    .a__name{
      color: $color-tp;
    }

    .a__image {
      top: 3vh;

      img {
        left: unset;
        width: 130%;
        object-position: 50% 50%;

      }
    }
    .a__button{


      a{
        border: 2px solid $color-tp;
        color: $color-tp;
        background-color: white;
      }
    }
  }


  #gmac {
    background-color: $color-gmac;

    .a__name{
      color: white;
    }

    .a__image {
      top: unset;
      width: 100%;

      img {
        left: 0vw;
        width: 130%;
        object-position: 50% 50%;
      }
    }
    .a__button{


      a{
        background-color: $color-gmac;
        border: 2px solid white;
        color: white;
      }
    }
  }


  #aspen {
    background-color: white;

    .a__name{
      color: $color-aspen;
    }

    .a__image {
      top: unset;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-content: center;
      justify-content: center;

      img {
        top: 1rem;
        width: 50%;
        object-position: 50% 50%;
        box-shadow: 2px 2px 7px 3px #777;
      }
    }
    .a__button{


      a{
        border: 2px solid $color-aspen;
        color: $color-aspen;
        background-color: white;
      }
    }
  }


  #iss {
    background-color: $color-iss;

    .a__name{
      color: white;
    }

    .a__image {
      top: unset;
      width: 100%;
      margin: 0 auto;

      img {
        left: -20vw;
        width: 160%;
        object-position: 50% 50%;
      }
    }
    .a__button{

      a{
        border: 2px solid white;
        color: white;
        background-color: $color-iss;
      }
    }
  }

  /* END MIN 1020px*/
}
